name: MongoDB Backup

on:
  push:
    branches:
      - main

jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install MongoDB Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y mongodb-database-tools

      - name: Run MongoDB Dump
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          mkdir -p backups
          mongodump --uri="$MONGO_URI" --out="backups/backup_$(date +%Y-%m-%d_%H-%M)"

      - name: Upload Backup as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: mongo-backup
          path: backups/
